# Binarios y compilaciones locales
reproductor
reproductor.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Paquetes generados por la CLI de Fyne (fyne package)
*.tar.gz
*.deb
*.rpm
*.flatpak
*.AppImage

# Archivos de configuración locales / IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Sistema Operativo
.DS_Store
Thumbs.db
